@font-face {
    font-family: 'TTOctosquares-XBoldIt';
    src: local('TT Octosquares ExtraBold Italic'), local('TTOctosquares-XBoldIt'),  url('TTOctosquares-XBoldIt.woff2') format('woff2'), url('TTOctosquares-XBoldIt.woff') format('woff'), url('TTOctosquares-XBoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TTOctosquares-BoldIt';
    src: local('TT Octosquares Bold Italic'), local('TTOctosquares-BoldIt'), url('TTOctosquares-BoldIt.woff2') format('woff2'), url('TTOctosquares-BoldIt.woff') format('woff'), url('TTOctosquares-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TTOctosquares-DBoldIt';
    src: local('TT Octosquares DemiBold Italic'), local('TTOctosquares-DBoldIt'), url('TTOctosquares-DBoldIt.woff2') format('woff2'), url('TTOctosquares-DBoldIt.woff') format('woff'), url('TTOctosquares-DBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TTOctosquares-BlackIt';
    src: local('TT Octosquares Black Italic'), local('TTOctosquares-BlackIt'), url('TTOctosquares-BlackIt.woff2') format('woff2'), url('TTOctosquares-BlackIt.woff') format('woff'), url('TTOctosquares-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TTOctosquares-DBold';
    src: local('TT Octosquares DemiBold'), local('TTOctosquares-DBold'), url('TTOctosquares-DBold.woff2') format('woff2'), url('TTOctosquares-DBold.woff') format('woff'), url('TTOctosquares-DBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TTOctosquares-Bold';
    src: local('TTOctosquares-Bold.otf'), url('TTOctosquares-Bold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'TTOctosquares-XBold';
    src: local('TT Octosquares ExtraBold'), local('TTOctosquares-XBold'), url('TTOctosquares-XBold.eot?#iefix') format('embedded-opentype'), url('TTOctosquares-XBold.woff2') format('woff2'), url('TTOctosquares-XBold.woff') format('woff'), url('TTOctosquares-XBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TTOctosquares-Medium';
    src: local('TT Octosquares Medium'), local('TTOctosquares-Medium'), url('TTOctosquares-Medium.eot?#iefix') format('embedded-opentype'), url('TTOctosquares-Medium.woff2') format('woff2'), url('TTOctosquares-Medium.woff') format('woff'), url('TTOctosquares-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TTOctosquares-Light';
    src: local('TT Octosquares Light'), local('TTOctosquares-Light'), url('TTOctosquares-Light.eot?#iefix') format('embedded-opentype'), url('TTOctosquares-Light.woff2') format('woff2'), url('TTOctosquares-Light.woff') format('woff'), url('TTOctosquares-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TTOctosquares-LightIt';
    src: local('TT Octosquares Light Italic'), local('TTOctosquares-LightIt'), url('TTOctosquares-LightIt.eot?#iefix') format('embedded-opentype'), url('TTOctosquares-LightIt.woff2') format('woff2'), url('TTOctosquares-LightIt.woff') format('woff'), url('TTOctosquares-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TTOctosquaresVariable';
    src: local('TT Octosquares Variable'), local('TTOctosquaresVariable'), url('TTOctosquaresVariable.eot?#iefix') format('embedded-opentype'), url('TTOctosquaresVariable.woff2') format('woff2'), url('TTOctosquaresVariable.woff') format('woff'), url('TTOctosquaresVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TTOctosquares-Regular';
    src: local('TT Octosquares'), local('TTOctosquares-Regular'), url('TTOctosquares-Regular.eot?#iefix') format('embedded-opentype'), url('TTOctosquares-Regular.woff2') format('woff2'), url('TTOctosquares-Regular.woff') format('woff'), url('TTOctosquares-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTOctosquares-ThinIt';
    src: local('TT Octosquares Thin Italic'), local('TTOctosquares-ThinIt'), url('TTOctosquares-ThinIt.eot?#iefix') format('embedded-opentype'), url('TTOctosquares-ThinIt.woff2') format('woff2'), url('TTOctosquares-ThinIt.woff') format('woff'), url('TTOctosquares-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TTOctosquares-Thin';
    src: local('TT Octosquares Thin'), local('TTOctosquares-Thin'), url('TTOctosquares-Thin.eot?#iefix') format('embedded-opentype'), url('TTOctosquares-Thin.woff2') format('woff2'), url('TTOctosquares-Thin.woff') format('woff'), url('TTOctosquares-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TTOctosquares-MediumIt';
    src: local('TT Octosquares Medium Italic'), local('TTOctosquares-MediumIt'), url('TTOctosquares-MediumIt.eot?#iefix') format('embedded-opentype'), url('TTOctosquares-MediumIt.woff2') format('woff2'), url('TTOctosquares-MediumIt.woff') format('woff'), url('TTOctosquares-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TTOctosquares-Italic';
    src: local('TT Octosquares Italic'), local('TTOctosquares-Italic'), url('TTOctosquares-Italic.eot?#iefix') format('embedded-opentype'), url('TTOctosquares-Italic.woff2') format('woff2'), url('TTOctosquares-Italic.woff') format('woff'), url('TTOctosquares-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}